<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-4level %l - %msg%n" />
		</Console>
		<File name="LogFile" fileName="/home/tom/FYP/fyp.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-4level %l - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="LogFile" level="debug" />
		</Root>
	</Loggers>
</Configuration>